.main {
    outline: none;
}
.select {
    text-align: end;
    display: inline-block;
    min-height: 15px;
    min-width: 40px;
    border: 1px solid black;
    padding: 0 2px 0 2px;
    border-radius: 5px;
}
.items {
    margin-top: 5px;
    position: absolute;
    border: 1px solid black;
    padding: 0 2px 0 2px;
    border-radius: 5px;
}
.itemsCollapsed {
    visibility: hidden;
}
.item {
    text-align: center;
    border-radius: 5px;
}
.item.selected {
    background-color: rgba(100, 149, 237, 0.44);
    color: snow;
}